.servicescont {
  height: fit-content;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #7591be;
}

.servicesss {
  width: auto;
  height: 100%;
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 10px;
}

.servicetext {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.getQuota {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: white;
  border: 1px solid #3e5985;
  padding: 10px;
  background-color: #3e5985;
  border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.5s;
}
.getQuota:hover {
  cursor: pointer;
}

.selectService {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: fit-content;
  border: 1px solid #415d8a;
  border-radius: 20px;
  background-color: #415d8a;
  color: white;
  font-weight: bold;
}
.suboptioncontrol {

  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 100%;
  height: fit-content;
  border-radius: 0px 0px 20px 20px;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #1f2c42;
}

.previous {
  width: 20%;
  height: fit-content;
  font-weight: bold;
  margin-left: 3%;
}
.previous:hover {
  cursor: pointer;
}
.next {
  width: 20%;
  height: fit-content;
  margin-right: 10%;
  font-weight: bold;

}
.next:hover {
  cursor: pointer;
}

.option {
  vertical-align: middle;
  margin-left: 15%;
}

label {
  padding: 5px;
  color: #222;
  font-size: 14px;
  margin: 10px;
  text-align: left;
}

.optionstable {
  background-color: rgba(255, 255, 255, 0);
  list-style-type: none;
  text-align: left;
}
.optionstablerow {
  list-style-type: none;
  vertical-align: middle;
}

.ServiceinputField {
  margin-top: 15px;
  max-width: 90%;
  min-width: 50%;
  height: 25px;
  padding: 5px;
  border: 1px solid rgba(0, 128, 0, 0);
  
}
.MessageServiceinputField {
  margin-top: 15px;
  max-width: 90%;
  min-width: 50%;
  
  height: 25px;
  min-height: 100px;
  padding: 5px;
  border: 1px solid rgba(0, 128, 0, 0);
  resize: none;
  
}

.formLabel{
  color: white;
}